

body {
    font-family: Arial, sans-serif;
    background-color: #0d0d0d;
    color: white;
    margin: 0;
    padding: 0;
}



header {
    text-align: center;
    padding: 30px;
    margin: 20px auto;
    width: 80%;
    background-color: #111111;
    border-radius: 20px;
    box-shadow: 0 0 20px purple;
}


header img {
    border-radius: 15px;
}



h1 {
    color: white;
    font-size: 50px;
}







main {
    width: 90%;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}



section {
    background-color: #2d004d;
    padding: 25px;
    border-radius: 20px;
    text-align: center;

    box-shadow: 0 0 15px rgba(199, 125, 255, 0.6);

    transition: 0.3s;

    min-height: 450px;
}

section:hover {
    transform: scale(1.03);
}



h2 {
    color: #c77dff;
    font-size: 32px;
}



section img {
    display: block;
    margin: 15px auto;
    width: 220px;
    border-radius: 15px;
}



ul {
    list-style-position: inside;
    padding: 0;
}

li {
    margin: 8px;
    font-size: 18px;
}



p {
    font-size: 18px;
    line-height: 1.6;
}



footer {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    font-size: 18px;
}



marquee {
    color: #c77dff;
    font-size: 20px;
    margin-bottom: 10px;
}


@media screen and (max-width: 768px) {

    main {
        grid-template-columns: 1fr;
    }

    header {
        width: 95%;
        padding: 20px;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 24px;
    }

    section img {
        width: 150px;
    }

    p, li {
        font-size: 16px;
    }
}

